@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 97.6%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 222 95% 58%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 95.3%;
		--secondary-foreground: 0 0% 24.7%;
		--muted: 0 0% 95.3%;
		--muted-foreground: 0 0% 45.9%;
		--accent: 0 0% 95.3%;
		--accent-foreground: 0 0% 3.9%;
		--destructive: 4 100% 66%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 87.8%;
		--input: 0 0% 87.8%;
		--ring: 0 0% 82.4%;
		--chart-1: 219 96% 67%;
		--chart-2: 163 91% 35%;
		--chart-3: 250 94% 66%;
		--chart-4: 33 100% 44%;
		--chart-5: 17 98% 57%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 87.8%;
		--card: 0 0% 8.2%;
		--card-foreground: 0 0% 87.8%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 87.8%;
		--primary: 222 95% 58%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 8.2%;
		--secondary-foreground: 0 0% 69.8%;
		--muted: 0 0% 8.2%;
		--muted-foreground: 0 0% 58.4%;
		--accent: 0 0% 8.2%;
		--accent-foreground: 0 0% 87.8%;
		--destructive: 357 98% 36%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 24.7%;
		--input: 0 0% 24.7%;
		--ring: 0 0% 34.9%;
		--chart-1: 222 95% 58%;
		--chart-2: 163 91% 45%;
		--chart-3: 250 80% 60%;
		--chart-4: 38 99% 52%;
		--chart-5: 321 92% 65%;
	}
}
